@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: #F6F4F9;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
nav{
    width:100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 100;
}
.social-call{
    height: 40px;
    border: 1px solid rgba(0,0,0,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}
.social a{
    margin: 0px 5px;
    color: #6184C6;
    font-size: 0.9rem;
}
.phone{
    color: rgba(0,0,0,0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}
.social a:hover{
    color: #FCA3B9;
    transition: all ease 0.3s;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 45px;
}
.logo img{
    height: 60px;
}
.menu{
    display: flex;
}
.menu li{
    position: relative;
    margin: 20px;
    display: flex;
    text-transform: uppercase;
    font-weight: 500;
}
.menu li a{
    color: #555555;
}
.right-menu a{
    margin: 0px 10px;
    font-size: 1.2rem;
    color: rgba(0,0,0,0.7);
}
.menu a:hover,
.right-menu a:hover,
.search-cancel:hover,
.form-cancel:hover{
    color: #FCA3B9;
    transition: all ease 0.3s;
}
.sale-lable{
    width:38px;
    height: 17px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    right: -20px;
}
.sale-lable:after{
    content: '';
    width:0px;
    height: 0px;
    border-bottom: 5px solid transparent;
    border-left: 3px solid transparent;
    border-top: 7px solid #f76b6a;
    border-right: 5px solid transparent;
    position: absolute;
    left: 10%;
    top: 100%;
    
}
.fa-shopping-cart{
    position: relative;
}
.num-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width:25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50%;
    background-color: #6184C6;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}
.search-bar{
    width:100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    box-shadow: 2px -5px 30px rgba(0,0,0,0.1);
    z-index: 101;
    animation: search 0.3s;
}
.search-input{
    width:90%;
    border-bottom: 2px solid #555555;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}
.search-bar input{
    width:100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0px 20px;
}
.search-cancel{
    color: #272727;
    font-size: 2rem;
    padding-right: 40px;
}
.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
}
@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0px;
    }
}
.form{
    width:100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 102;
}
.login-form,
.sign-up-form{
    width:420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    position: relative;
 
}
.login-form form,
.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.login-form strong,
.sign-up-form strong{
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
}
.login-form input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px;
    border: 1px solid rgba(0,0,0,0.1);
    outline: none;
    border-radius: 7px;
}
.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(54, 53, 53, 0.5); 
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    background-color: #FCA3B9;
    color: #ffffff;
    border: none;
    outline: none;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
}
.sign-up-btn{
    border-bottom: 1px solid #868686;
    line-height: 16px;
}
.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}
.login-form,
.sign-up-form,
.form{
    display: none;
}

.login-active,
.login-active .login-form{
    display: flex;
    animation: fade 0.3s;
}
.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
    animation: fade 0.3s;
}
@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.full-slider-box{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
}
.f-slide-1{
    background-image: url(../images/1.png);
}
.f-slide-2{
    background-image: url(../images/3.png);
}
.f-slide-3{
    background-image: url(../images/2.png);
}
.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature-heading h2,
.arrival-heading strong{
    font-size: 1.5rem;
    color: #1b1919;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;

}
.feature-box{
    width: 155px;
    height: 155px;
    margin:0px 20px;
    border-radius: 10px;
    overflow: hidden;
}
.feature-box a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.item span{
    font-size: 1rem;
    font-weight: 600;
    margin: 5px;
    color: #444444;
}
.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#autoWidth{
    display: flex;
    justify-content: center !important;
    margin: 10px auto 40px auto;
}
.arrival-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
}
.arrival-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}
.arrival-heading p{
    color: #808080;
    margin: 10px;
    font-size: 0.9rem;
}
.product-container{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    margin: 20px;
}
.product-img{
    width:200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;
}
.product-img img{
    width:100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.product-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-top: 1px solid #f3f3f3;
}
.p-name{
    color: #727272;
}
.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}
.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
}
.add-cart{
    position: absolute;
    right: -20px;
    top: 10px;
    width:50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #6184C6;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    display: none;
    animation: fade 0.3s;
 
}
.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.2s;
}
.product-box:hover .add-cart{
    display: flex;
}
.new-arrival{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sale{
    width:95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px auto;
  
}
.sale-box{
    width:280px;
    border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}
.sale-box img{
    width:100%;
    height: 100%;
    object-fit: cover;
    object-position: center right;
}
.sale-text{
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%,-50%);
    display: flex;
    flex-direction: column;
}
.sale-box a{
    color: #1b1919;
}
.sale-text strong{
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;
}

.services{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 60px;
}
.services-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}
.services-box i{
    color: #6184C6;
    font-size: 2rem;
    margin: 15px;
}
.services-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.services-box p{
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

.banner-box{
    width:90%;
    height: 40vh;
    margin: 20px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/product-brands.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.banner-box-2{
    width:90%;
    height: 40vh;
    margin: 20px 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/mid-year.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.banner-text-container{
    width:80%;
    height: 90%;
    display: flex;
    align-items: center;
}
 
.fix-nav{
    width:100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05);
    z-index: 102;
}

.toggle{
    display: none;
}
@media(max-width:1010px){
    nav{
        position: relative;
    }
    .navigation{
        height: 80px;
    }
    .fix-nav{
        height: 80px;
    }
    .menu{
        position: absolute;
        top: 110px;
        left: 0px;
        background-color: #ffffff;
        border-bottom: 4px solid #6184C6;
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 102;
        flex-direction: column;
        display: none;
 
    }
    .fix-nav .menu{
        top: 80px;
    }
    .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width:100%;
        height: 50px;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 25px;
        border: 1px solid rgba(0,0,0,0.03);
    }
    .sale-lable{
        display: none;
    }
    .toggle{
        display: block;
    }
    .toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    .toggle.active:before{
        content: '\f00d';
    }
    .navigation.active .menu{
        display: block;
    }
    .full-slider-box,
    .banner-box{
        height: 45vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 2rem;
        line-height: 40px;
    }
    .search-input{
        height: 60px;
    }
    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }
    .sale-box{
        height: 200px;
    }
}

@media(max-width:600px){
    .navigation{
        padding: 10px;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 1.2rem;
        line-height: 25px;
    }
    .full-slider-box,
    .banner-box{
        height: 30vh;
    }
    .f-slider-text span,
    .banner-text span{
        font-size: 0.8rem;
    }
    .f-slider-btn,
    .banner-btn{
        width:120px;
        height: 30px;
        font-size: 0.8rem;
    }
    .feature-heading h2{
        font-size: 1.2rem;
    }
    .feature-box{
        width:120px;
        height: 120px;
    }
    .new-arrival strong,
    .feature-heading strong{
        font-size: 1.2rem;
    }
    .new-arrival p,
    .feature-heading p{
        font-size: 0.8rem;
        text-align: center;
    }
    .sale-box{
        width:100%;
        height: 180px;
    }
    .sale{
        width: 100%;
    }
    .services{
        width:100%;
    }
    .services-box{
        width:100%;
    }
    .login-form,
    .sign-up-form{
        width:90%;
    }
}

/* FOOTER */

.footer {
    background: #f9d5e0;
    color: #1b1919;
    height: 350px;
    display: flex;
    margin: 35px;
    position: relative;
   
    }
  
  .footer .footer-content {
    height: 350px;
    display: flex;
    margin: 40px;
    
  }
  
  .footer .footer-content .footer-section {
    flex: 1;
    padding: 15px;
    justify-content: center;
 
  }
  
  .footer .footer-content h1{
    color: #FCA3B9;
   
  }
  .footer .footer-content h2 {
    color: #202020;
  }
  .footer .footer-content h3 {
    color: #202020;
    font-size: 1.4em;
  }
  .footer .footer-content .about h1 span {
    color: #6184C6;
  }
  
  .footer .footer-content  .contact span {
    display: block;
    font-size: 1.3em;
    margin-bottom: 8px;
    color: #202020;
  }
  
  .footer .footer-content  .socials a {
    border: 1px solid #202020;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 10px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: #202020;
    
  }
  
  .footer .footer-content .socials a:hover {
    border: 1px solid #6184C6;
    color: #6184C6;
    transition: all .3s;
  }
  
  .footer .footer-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    transition: all .3s;
    color: #202020;
  
    
  }
  
  .footer .footer-content .links ul a:hover {
    color:#6184C6;
    margin-left: 15px;
    transition: all .3s;
  }
  @media only screen and (max-width: 934px) {
    .footer {
        height: auto;
      }
    
      .footer .footer-content {
        height: auto;
        flex-direction: column;
      }
    
      .footer .footer-content .contact-form {
        padding-bottom: 90px;
      }
    
      .footer .footer-content .contact-form .contact-btn {
        width: 100%;
      }
    }

 /* PRODUCT DETAILS */

.product-detail {
    margin-top: 5rem;
  }
  
  .product-detail .details {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    gap: 7rem;
  }
  
  .product-detail .left .main {
    text-align: center;
    background-color: #f6f2f1;
    margin-bottom: 2rem;
    height: 35rem;
    padding: 3rem;
    margin-left: 20%;
  }
  
  .product-detail .left .main img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  
  .product-detail .thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    width: 100%;
  }
  
  .product-detail .thumbnail {
    height: 10rem;
    background-color: #f6f2f1;
    text-align: center;
  }
  
  .product-detail .thumbnail img {
    height: 100%;
    object-fit: contain;
  }
  .product-detail .right{
      margin-right: 30%;
  }
  
  .product-detail .right span {
    display: inline-block;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .product-detail .right h2 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  
  .product-detail .right .price {
    font-size: 300;
    font-size: 1.2rem;
    color: #6184C6;
    margin-bottom: 1rem;
  }
  
  .product-detail .right div {
    display: inline-block;
    position: relative;
    z-index: 1;
  }
  
  .product-detail .right select {
    font-family: "Poppins";
    width: 20rem;
    padding: 0.7rem;
    border: 1px solid var(--grey1);
    appearance: none;
    outline: none;
  }
  
  .product-detail form {
    margin-bottom: 2rem;
  }
  
  .product-detail form span {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 2.5rem;
    z-index: 0;
  }
  
  .product-detail .form1 {
    margin-bottom: 2.5rem;
  }
  
  .product-detail .form1 input {
    padding: 0.8rem;
    text-align: center;
    width: 3.5rem;
    margin-right: 2rem;
  }
  
  .product-detail .form1 .addCart {
    background: #f9d5e0;
    padding: 0.8rem 4rem;
    color: var(--white);
    border-radius: 3rem;
  }

  .product-detail .form2 {
    margin-bottom: 2.5rem;  
  }
  
  .product-detail .form2 p {
    text-transform: uppercase;
    font-size: 1.2rem;
    align-content: center;
    color: #88a4da;
  }
  .product-detail .form2 .visitShop {
    background: #b3caf8;
    padding: 0.5rem 2.5rem;
    color: var(--white);
    border-radius: 3rem;
    margin-left: 13rem;
  }

  .product-detail h3 {
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  .product-detail p {
    margin-bottom: 0.5rem;
    text-align: justify;
  }

  @media only screen and (max-width: 996px) {
    .product-detail .left {
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnails {
      gap: 0.5rem;
    }
  
    .product-detail .thumbnail {
      background-color: #f6f2f1;
      text-align: center;
    }
  }
  
  @media only screen and (max-width: 650px) {
    .product-detail .details {
      grid-template-columns: 1fr;
    }
  
    .product-detail .right {
      margin-top: 10rem;
    }
  
    .product-detail .left {
      width: 100%;
      height: 45rem;
    }
  
    .product-detail .details {
      gap: 3rem;
    }
  
    .product-detail .thumbnail {
      width: 6rem;
      height: 6rem;
    }
  }

   /* USER PROFILE */

   .profile-heading strong{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: #1b1919;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 40px;
    padding: 5px 30px;
    border: 1px solid #e0e0e0;
    margin-left: 5rem;
    margin-right: 5rem;
}
.profile-heading{
    display: flex;
    justify-content: left;
    align-items:left;
    flex-direction: column;
}
.profile-heading strong{
    color: #222222;
    background-color: #b3caf8;
    font-weight: 500;
    margin-bottom: 1rem;
}
.profile-heading p{
    color: #202020;
    font-size: 1.2em;
    margin-left: 7rem;
    margin-right: 5rem;
}

/* Personal-Details */

.personal-details {
    
    color: #b3caf8;
    height: 250px;
    display: flex;
    margin-top: 5px;
    margin-left: 5rem;
    position: relative;
   
    }
  
  .personal-details .personal-content {
    height: 350px;
    display: flex;
    margin-left: 5rem;
   
  }
  
  .personal-details .personal-content .personal-section {
    flex: 1;
    padding: 15px;
    justify-content: center;
    
  }
  .personal-details .personal-content .about img{
   
    width:200px;
    height: 210px;
    margin: 5px;
    cursor: pointer;
    position: relative;
  }
  .personal-details .personal-content .info ul {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    transition: all .3s;
    color: #202020;   
  }
 
  .personal-details .personal-content .links ul a {
    display: block;
  
    font-size: 1em;
    transition: all .3s;
    color: #202020;   
  }
  
  .personal-details .personal-content .links ul a:hover {
    color:#6184C6;
    margin-left: 15px;
    transition: all .3s;
  }
  @media only screen and (max-width: 934px) {
   .personal-details {
        height: auto;
      }
    
     .personal-details .personal-content {
        height: auto;
        flex-direction: column;
      }
    
    }
/*  Return and Change */

.services1{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 70px;
}
.sample-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0,0,0,0.1);
    min-width: 250px;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
}
.sample-box i{
    color: #6184C6;
    font-size: 2rem;
    margin: 15px;
}
.sample-box span{
    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;
}
.sample-box p{
    color: #878787;
    margin: 0px;
    font-size: 0.9rem;
}

@media(max-width:600px){
    .navigation{
        padding: 10px;
    }

    .services1{
        width:100%;
    }
    .sample-box{
        width:100%;
    }
}

/*  Order tracking */


.order-details {
    background:#f6f2f1;
    color: #1b1919;
    height: 300px;
    display: flex;
    margin-left: 95px;
    margin-right: 95px;
    margin-top: 1px;
    position: relative;
   
    }
  
  .order-details .order-content {
    height: 300px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    
  }
  
  .order-details .order-content .links h2 {
    color: #202020;
    font-size: 1.2rem;
    margin-left: 11rem;
  }
   
 
  .order-details .order-content .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1rem;
    transition: all .3s;
    color: #202020;

  }
  
  .order-details .order-content .links ul a:hover {
    color:#6184C6;
    margin-left: 15px;
    transition: all .3s;
  }
  @media only screen and (max-width: 934px) {
    .order-details {
        height: auto;
      }
    
      .order-details .order-content {
        height: auto;
        flex-direction: column;
      }
    }

/* Cart Page */

.cart {
    margin-top:2rem ;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  
 table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cart-info {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
  }
  
  .cart-info span {
    color: #6184C6;

  }
  
  th {
    text-align: left;
    padding: 0.5rem;
    color: #1b1919;
    background-color: #f9d5e0;
    font-weight: normal;
    font-size: 1rem;
  
  }
  
  td {
    padding: 0.5rem 0.5rem;
    font-size: 1rem;
  }
  
  td input {
    width: 5rem;
    height: 3rem;
    padding: 0.5rem;
  }
  
  td a {
    color:#f76b6a;
    font-size: 1rem;
  }
  td p {
    color: #1b1919;
    font-size: 1rem;
  }
  
  td img {
    width: 6rem;
    height: 6rem;
    margin-right: 1rem;
  }
  
  .total-price {
    display: flex;
    justify-content: flex-end;
    align-items: end;
    flex-direction: column;
    margin-top: 0.5rem;
    margin-left: 48rem ;
  }
  
  .total-price a .checkout-btn {
    display: inline-block;
    background-color: #b3caf8;
    color: #1b1919;
    padding: 0.7rem 1.6rem;
    font-weight: 700;
    border-radius: 3rem;
    margin-left: 9rem;
    margin-top: 2rem;
    font-size: 1rem;
   

  }
  
  .total-price table {
    border-top: 2px ;
    width: 100%;
    max-width: 35rem;
    font-size: 1rem;
  }
  
  td:last-child {
    text-align: right;
  }
  
  th:last-child {
    text-align: right;
  }
  
  @media only screen and (max-width: 567px) {
    .cart-info p {
      display: none;
    }
  }

  /* CHECKOUT */

  .row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;

  }
  
  .col-25 {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
  }
  
  .col-50 {
    -ms-flex: 50%; /* IE10 */
    flex: 50%;
  }
  
  .col-75 {
    -ms-flex: 65%; /* IE10 */
    flex: 65%;
 
  }
  
  .col-25,
  .col-50,
  .col-75 {
    padding: 0 16px;
  }
  
  .container {
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  
  input[type=text] {
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  label {
    margin-bottom: 10px;
    display: block;
  }
  
  .icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
  }
  
  .btn {
    background-color: #b3caf8;
    color: #1b1919;
    padding: 12px;
    margin: 10px 0;
    border: none;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
  }
  
  .btn:hover {
    background-color: #FCA3B9;
  }
  
  span.price {
    float: right;
    color: grey;
  }
  span.subprice {
    float: right;
    color: grey;
  }
  span.sfprice {
    float: right;
    color: grey;
  }
  span.smethod {
    float: right;
    color: grey;
  }
  span.pmethod {
    float: right;
    color: grey;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (and change the direction - make the "cart" column go on top) */
  @media (max-width: 800px) {
    .row {
      flex-direction: column-reverse;
    }
    .col-25 {
      margin-bottom: 20px;
    }
  }

